<div>
    <a [routerLink] = "['/products/create']" class="btn btn-info">Crear Producto</a>
</div>
<div>
    <button (click)="onSort('name')">Ordenar por nombre</button>
</div>
<table class="table table-bordered">
    <thead>
        <td scope="col">#</td>
        <td scope="col">Nombre</td>
        <td scope="col">Acciones</td>
    </thead>
    <tbody>
        <tr appHover *ngFor="let prod of allProducts; let i = index;">
            <td scope="row">{{ prod.id}}</td>
            <td>{{prod.name | shortText: 10}}</td>
            <td>
                <button class="btn btn-sm btn-info" type="button">Deshabilitar</button>
                <a [routerLink] ="['/products', prod.id]" class="btn btn-sm btn-primary" type="button">Ver detalle</a>
                <button class="btn btn-sm btn-danger" (click)="onRemove(prod.id)" type="button">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>